<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>Refresh Books</title>
  <link rel="stylesheet" href="order-complete.css">
  <script type="module" src="order-complete.js"></script>
</head>
<body>
  <!-- Header -->
  <header></header>

  <div class="container">

    <!-- 결제하기 타이틀 -->
    <p class="order-complete-title">주문 완료</p>
    
    <main>
      <div class="complete__message">
        <p class="title">주문 완료</p>
        <p class="message">주문이 완료되었습니다!</p>
        <i class="fa-solid fa-cart-circle-check"></i>
      </div>
      <div class="button__area">
        <button class="orderList">주문 내역 보기</button>
        <button class="home">쇼핑 계속하기</button>
      </div>

    </main>
  </div>
  
  <footer></footer>
</body>
</html>