@import url('../public/css/main.css');

.intro {
  margin: 50px 0 20px 0;
}

#user-greeting {
  font-size: var(--font-large);
  color: var(--color-black);
}

.line {
  background-color: var(--color-dark-gray);
  height: 1px;
  border: none;
}

.main-contents {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

.mypage__category.nav {
  padding: 6px 15px 6px 6px;
  align-items: center;
}

.mypage__category.nav-item {
  width: 150px;
  margin: 20px 15px 30px 0;
}

.mypage__category__a {
  text-decoration: none;
  color: var(--color-black);
  padding: 10px;
  transition: all 0.2s;
  font-weight: var(--weight-semi-bold);
  font-size: var(--font-medium);
}

.mypage__category__a.clicked {
  color: var(--color-black);
  background-color: var(--color-light-gray);
  border-radius: var(--border-radius-button);
}

.mypage__category__a:hover {
  color: var(--color-black);
  background-color: var(--color-light-gray);
  border-radius: var(--border-radius-button);
}

.content-area {
  display: flex;
  flex-direction: column;
  border-left: 1px solid var(--color-dark-gray);
  padding: 20px;
}

.content-area > p {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.content {
  width: 800px;
  padding-left: 20px;
  padding-top: 20px;
}

.order {
  border: 1px solid var(--color-light-gray);
  border-radius: 8px;
  padding: 10px 0;
  margin-bottom: 20px;
  box-shadow: 5px 5px 5px var(--color-light-gray);
}

.order .order-date {
  padding-left: 40px;
  padding-top: 20px;
}

.order .order-view {
  display: flex;
  justify-content: space-between;
}

.order .order-view .order-items-area {
  padding: 0 20px;
  border-right: 1px solid var(--color-light-gray);
}

.order-item {
  width: 600px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
  background-color: var(--color-white);
  border-radius: var(--border-radius-button);
  border: 1px var(--color-light-gray) solid;
}

.order-item .item-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  border: 0.3px var(--color-light-gray) solid;
}

.order-item .item-img img{
  width: 100px;
}

.order-item .item-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  width: 65%;
}

.order-item .item-info .item-title {

  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  text-align: left;
  position: inherit;
  width: 100%;
  margin: 10px;
  padding: 10px 0;
  border-bottom: 0.3px var(--color-light-gray) solid;
}

.order-item .item-info .item-author {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  text-align: left;
  width: 100%;
  margin: 0 10px;

}

.order-item .item-info .item-cost {
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  text-align: right;
  width: 100%;
  margin: 10px;
  padding: 0 10px;
}

.order-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
}

.order-info a {
  color: var(--color-black);
  border: 0.5px var(--color-dark-gray) solid;
  border-radius: var(--border-radius-button);
  padding: 4px;
  margin-top: 8px;
}

.order-info a:hover {
  background-color: var(--color-dark-gray);
}
