main {
  height: 1000px;
}


footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position : relative;
  transform : translateY(-100%);
  width: 100%;
  height: 130px;
  position: absolute;
  background-color: var(--color-point);

  padding: 10px 20px;
  margin: 0;
}

footer .footer-container {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  height: 100%;
  width: 1024px;
}

footer .footer-container .upper-area {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 50%;
  width: 100%;
}

footer .footer-container .upper-area .logo{
  width: 100px;
  height: 50px;
  background-image: url('../images/logo_white.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  margin-top: 10px;
}


footer .footer-container .lower-area {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 50%;
  width: 100%;
}

footer .footer-container .lower-area p{
  color: var(--color-white);
  font-size: var(--font-small);
  font-weight: var(--weight-regular);
}
