header {
  top: 0px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 70px;
  background-color: #b5ffde;

  padding: 10px 20px;
}


header .header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 100%;
  width: 1024px;
}

header .logo {
  width: 110px;
  height: 100px;
  background-image: url('../images/logo_green.svg');
  background-repeat: no-repeat;
  background-position: center left;
  background-size: contain;
  cursor: pointer;
  overflow: visible;
}

header .icons {
  width: 400px;
  height: 70px;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  align-items: center;
  justify-content: flex-end;
  float:none;
}

header .icon{
  display: flex;
  height: 40px;
  width: 40px;

  margin: 0 5px;

}


header .search-box{
  position: relative;
  width: 300px;
  height: 60%;
  display: flex;

  flex-direction: row;
  flex-flow: wrap;
  align-items: center;
  justify-content: flex-end;

  overflow: hidden;
  border-radius: 6px;


}

header .search-input { 

  display: none;
  flex-direction: row;
  flex-flow: nowrap;
  flex: 1;
  padding: 20px;
  
  width: 200px;
  height: 60%;

  border-radius: 5px;
  border: none;
  outline: none;

}

header .search-input.activate {
  display: flex;
  border: #1DC078 1px;
}

header .search {
  background-image: url('../images/icon_search_green.svg');
  background-repeat: no-repeat;
  background-position: center left;
  background-size: contain;
  cursor: pointer;
}

header .search.activate {

  position: absolute;
  background-color: #FFFFFF;
  background-image: url('../images/icon_search_green.svg');
  border-right: #1DC078 1px;
  border-radius: 5px;
  cursor: pointer;

}

header .cart {
  background-image: url('../images/icon_cart_mt_green.svg');
  background-repeat: no-repeat;
  background-position: center left;
  background-size: contain;
  cursor: pointer;
}

header .cart.full{
  background-image: url('../images/icon_cart_full_green.svg');
}

header .user {
  background-image: url('../images/icon_user_noface_green.svg');
  background-repeat: no-repeat;
  background-position: center left;
  background-size: contain;
  cursor: pointer;
}


.white {
  fill: #FFFFFF;
}

.green {
  fill: #1DC078;
}



