@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
@import url('header.css');

:root {
  /* Font size */
  --font-large: 30px;
  --font-medium: 20px;
  --font-regular: 16px;
  --font-small: 14px;
  --font-micro: 10px;

  /* Font weight */
  --weight-bold: 900;
  --weight-semi-bold: 700;
  --weight-regular: 500;
	--weight-light: 300;

  /* Size */
  --border-radius-button: 8px;
	--border-radius-input: 3px;

  /* Color */
  --color-white: #ffffff;
	--color-black: #111111;
  --color-light-black: #7d7d7d;
	--color-point: #1DC078;
	--color-dark-gray: #bfbfbf;
	--color-light-gray: #e7e7e7;
	--color-light-green: #b7fbdc;
	--color-dark-green: #16a263;
  --color-red: #FF0000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'NanumSquare', sans-serif;
}

ol, ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1024px;
  margin: 70px auto auto auto;
}