@import url("/public/css/main.css");

a {
  color: var(--color-black);
}
a:visited {
  color: var(--color-black);
}

.order-create-title {
  text-align: left;
  font-size: var(--font-large);
  margin: 20px 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--color-dark-gray);
}

main {
  padding: 20px;
  display: flex;
  /* justify-content: space-between; */
}
main .leftSide { 
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  /* width: 500px; */
}
main .rightSide {
  display: flex; 
  flex-grow: 1; 
  flex-direction: column;
}

/* Left Side */
.leftSide > p {
  padding: 16px 0;
  font-size: var(--font-medium);
}
.delivery__information {
  width: 100%;
}


.delivery__information > div {
  padding: 8px 0;
}

.delivery__information label {
  width: 140px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  border-right: 1px solid var(--color-dark-gray);
  margin-right: 8px;
  justify-content: center;
  font-weight: var(--weight-semi-bold);
}
.userName {
  display: flex;
  justify-content: flex-start;
}

.userName input {
  padding: 8px;
  width: 250px;
  border: 1px solid var(--color-dark-gray);
  border-radius: var(--border-radius-input);
}

.userPhoneNumber {
  display: flex;
  justify-content: flex-start;
}

.userPhoneNumber input {
  padding: 8px;
  width: 250px;
  border: 1px solid var(--color-dark-gray);
  border-radius: var(--border-radius-input);
  color: var(--color-light-black);
}

.userAddress {
  padding-bottom: 0;
  display: flex;
  justify-content: flex-start;
}
.userAddress input {
  width: 250px;
  margin: 8px 0;
  padding: 8px;
  border-radius: var(--border-radius-input);
  border: 1px solid var(--color-dark-gray);
}

.userAddress #postalCodeInput {
  width: 140px;
}

input.search_address {
  width: 100px;
  color: gray;
  border: 1px solid var(--color-point);
}

input.search_address:hover {
  background-color: var(--color-light-gray);
  cursor: pointer;
}

.deliveryRequest {
  display: flex;
}

.deliveryRequest p {
  width: 140px;
  display: flex;
  align-items: center;
  border-right: 1px solid var(--color-dark-gray);
  margin-right: 8px;
  padding-left: 20px;
  padding-right: 0;
  justify-content: center;
  font-weight: var(--weight-semi-bold);
}

.deliveryRequest select, input {
  width: 250px;
  margin: 4px 0;
  padding: 8px;
  border-radius: var(--border-radius-input);
  border: 1px solid var(--color-dark-gray);
  color: gray;
}

.customRequestContainer input {
  width: 250px;
  padding: 8px;
}

/* Right Side */
/* 주문 상품 정보 */
.rightSide {
  width: 450px;
}

.rightSide p {
  padding: 16px 0;
  font-size: var(--font-medium);
}

.orderList {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.item {
  display: flex;
  flex-direction: row;
  /* width: 400px; */
  border-bottom: 1px solid var(--color-light-gray);
  padding: 0px 0;
}

.item .book-img {
  display: flex;
  align-items: center;
}
.item .book-img img {
  border: 1px solid var(--color-light-gray);
  width: 100px;
}

.item .book__title__price {
  padding: 18px 8px;
  width: 100%;
}

.item .book-title {
  padding: 0 10px;
  font-size: var(--font-medium);
  color: var(--color-black);
}

.item .book-title .author {
  padding: 14px 0;
  font-size: var(--font-regular);
}

.item .amount {
  font-size: var(--font-medium);
  text-align: end;
}

.item .item-price {
  padding-top: 8px;
  font-size: var(--font-medium);
  text-align: end;
}

/* 결제 금액 */

.pay__detail__container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 8px;
}

.pay__detail {
  display: flex;
  padding: 4px 0;
  font-size: var(--font-medium);
}

.pay__detail .booksPrice, .deliveryFee, .totalCost {
  width: 140px;
  text-align: right;
}


.pay__detail div {
  padding-left: 12px;
}

.paymentButton {
  display: flex;
  justify-content: flex-end;
}

.paymentButton button {
  width: 250px;
  height: 50px;
  margin-top: 10px;
  margin-right: 8px;
  background-color: var(--color-point);
  color: var(--color-white);
  font-size: var(--font-medium);
  font-weight: 700;
  text-align: center;
  border: none;
  border-radius: var(--border-radius-button);
}

.paymentButton button:hover {
  cursor: pointer;
  background-color: var(--color-dark-green);
}

.hidden {
  display: none;
}