<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>Refresh Books</title>
  <link rel="stylesheet" href="order-create.css">
  <script type="module" src="order-create.js"></script>
  <script src="findAddress.js"></script>
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>
<body>
  <!-- Header -->
  <header></header>

  <div class="container">
    <!-- 결제하기 타이틀 -->
    <p class="order-create-title">결제하기</p>

    <main>
      <div class="leftSide">
        <p>주문/배송 정보</p>
        <!-- 주문/배송 정보 -->
        <section class="delivery__information">
          <div class="userName">
            <label for="userName">이름</label>
            <input type="text" class="userName" placeholder="이름을 입력해주세요.">
          </div>
          <div class="userPhoneNumber">
            <label for="userPhoneNumber">연락처</label>
            <input type="text" class="userPhoneNumber" placeholder="'-' 제외 입력해주세요.">
          </div>
          <div class="userAddress">
            <label for="findAddress">주소</label>
            <div class="addressInput">
              <input type="text" onclick="sample6_execDaumPostcode()" id="sample6_postcode" placeholder="우편번호" readonly>
              <input type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기"><br>
              <input type="text" onclick="sample6_execDaumPostcode()" id="sample6_address" placeholder="주소" readonly><br>
              <input type="text" id="sample6_detailAddress" placeholder="상세주소">
              <!-- <input type="text" id="sample6_extraAddress" placeholder="참고항목"> -->
            </div>
          </div>
  
          <div class="deliveryRequest">
            <p>배송 요청 사항</p>
            <div class="deliveryRequestSelect">
              <select class="btn dropdown-toggle" id="request__Select__Box">
                  <option value="0">
                    배송시 요청사항을 선택해 주세요.
                  </option>
                  <option value="1" class="select-option dropdown-item">
                    배송 전 연락바랍니다.
                  </option>
                  <option value="2" class="select-option dropdown-item">
                    부재 시 경비실에 맡겨주세요.
                  </option>
                  <option value="3" class="select-option dropdown-item">
                    부재 시 문 앞에 놓아주세요.
                  </option>
                  <option value="4" class="select-option dropdown-item">
                    부재 시 택배함에 넣어주세요.
                  </option>
                  <option value="5" class="select-option dropdown-item">
                    직접 입력
                  </option>
              </select>
              <div class="customRequestContainer hidden">
                <input type="text" maxlength="50" placeholder="최대 50자 입력이 가능합니다." class="customRequest form-control">
              </div>
            </div>
          </div>
        </section>
      </div>

      <div class="rightSide">
        <!-- 주문 상품 정보 -->
        <p>주문 상품 정보</p>
        <section class="orderList">
          <!-- <div class="item">
            <a class="book-img" href="#">
              <img src="/refresh-bookstore/src/views/public/images/sample_image.jpg" class="book-img" alt="bookImg1"/>
            </a>
            <div class="book__title__price">
              <div class="book-title">
                <a class="book-link" href="#">책 제목</a>
                <div class="author"></div>
              </div>
              <div class="amount">총 1권</div>
              <div class="item-price">20,000원</div>
            </div>
          </div> -->
        </section>
  
        <p>결제 금액</p>
        <section class="totalPriceArea">
          <div class="pay__list">
            <div class="pay__detail__container">
              <div class="pay__detail">
                <div>상품 가격</div>
                <div class="booksPrice">40,000원</div>
              </div>
    
              <div class="pay__detail">
                <div>배송비</div>
                <div class="deliveryFee"></div>
              </div>
    
              <div class="pay__detail">
                <div>총 결제 금액</div>
                <div class="totalCost"></div>
              </div>
            </div>
          </div>
        </section>
  
        <section class="paymentButton">
          <button>결제하기</button>
        </section>
      </div>

    </main>
  </div>
  
  <!-- Footer -->
  <footer></footer>
</body>
</html>