<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="book-detail.css">
  <title>Refresh Books</title>

</head>
<body>
  <header></header>
  <div class="container">
    <div class="upperArea">
      <span><img id="backBtn" src="/public/images/list.svg"> 목록으로</span>
      <img id="likeBtn" src="/public/images/like_1.svg">
    </div>
    <div class="middleArea">
      <div class="imageArea">
        <img src="/public/images/sample_image.jpg">
      </div>
      <div class="purchaseArea">
        <div class="bookTitleArea">
          <p id="category"></p>
          <h3 class="bookTitle"></h3>
          <p id="detailedInfo"></p>
        </div>
        <div class="purchaseInfo">
          <p>* 50,000원 이상 구매시 배송비는 무료입니다.</p>
          <div class="costArea">
            <p class="bookTitle"></p>
            <div class="amountArea">
              <button id="minusBtn">-</button>
              <input id ="amountInput" value="1">
              <button id="plusBtn">+</button>
            </div>
          </div>
          <h3 id="totalCost"></h3>
          <div class="purchaseBtnArea">
              <button id="addToCartBtn">장바구니</button>
              <button id="purchaseBtn">바로 구매</button>
            </div>
        </div>
      </div>
    </div>

    <div class="detailArea">
      <div class="book-info-area">
        <div class="book-info-piece" id="info-isbn"> ISBN | 204272048</div>
        <div class="book-info-piece" id="info-published"> 출판일 | 2022년 5월 15일</div>
        <div class="book-info-piece" id="info-author"> 저자 | 고현민</div>
        <div class="book-info-piece" id="info-publisher"> 출판사 | 한빛 출판사</div>
      </div>
      
      <p class="title">책 소개</p>
      <p id="bookIntroduction"></p>
    </div>


  </div>
  <script type="module" src="book-detail.js"></script>
  <footer></footer>
</body>
</html>