<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>Refresh Books</title>
  <link rel="stylesheet" href="user-mypage.css">
  <script src="/public/js/findAddress.js"></script>
  <script src="/public/js/autoHyphen.js"></script>
  <!-- 다음 지도 API -->
  <!-- https:// 임의 추가 -->
  <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <link rel="icon" href="/public/images/favicon.png"/>
  <link rel="apple-touch-icon" href="/public/images/favicon.png"/>
</head>
<body>
  <header></header>
  <div class="container">
    <div class="intro">
      <p class="user-greeting" id="user-greeting"></p>
    </div>

    <!-- 구분선 -->
    <hr class="line"/>

    <div class="main-contents">

      <!-- 내비게이션 -->
      <ul class="mypage-category nav flex-column">
        <li class="mypage__category nav-item" id="mypage-button">
          <a class="mypage__category__a clicked">회원정보수정</a>
        </li>
        <li class="mypage__category nav-item" id="order-list-button">
          <a class="mypage__category__a">주문조회</a>
        </li>
      </ul>

      <!-- 콘텐츠 영역 -->
      <div class="content-area">
        <p class="content-title">회원정보 수정</p>
        <form class="user-form-box" method="post">

          <div class="field">
            <label class="label" for="nameInput">이름</label>
            <div class="control">
              <p id="nameText"></p>
            </div>
          </div>

          <div class="field">
            <label class="label" for="emailInput">이메일</label>
            <div class="control">
              <p class="emailText" id="emailText"></p>
            </div>
          </div>

          <div class="field">
            <label class="label" for="passwordInput">비밀번호</label>
            <div class="control">
              <input
                class="input"
                id="passwordInput"
                type="password"
                placeholder="8 ~ 15자, 특수문자, 문자, 숫자 포함"
                autocomplete="on"
              />
            </div>
            <p class="error" id="password-error"></p>
          </div>

          <div class="field">
            <label class="label" for="passwordCheckInput">비밀번호 확인</label>
            <div class="control">
              <input
                class="input"
                id="passwordCheckInput"
                type="password"
                placeholder="비밀번호를 다시 입력해주세요"
              />
            </div>
            <p class="error" id="passwordCheck-error"></p>
          </div>

          <div class="field">
            <label class="label" for="addressInput">주소</label>
            <div class="control">
              <input
                class="input postalCodeInput"
                id="postalCodeInput"
                type="text"
                placeholder="우편주소"
                readonly
              />
            </div>

            <div class="control">
              <input 
                class="searchAddress"
                type="button" 
                id="searchAddress" 
                value="주소 검색" 
                onclick="findAddress()"
              />
            </div>
            <p class="error" id="address-error"></p>
          </div>

          <div class="field">
            <label class="label" for="addressInput"></label>
            <div class="control">
              <input
                class="input addressInput"
                id="addressInput"
                type="text"
                placeholder="주소를 검색해주세요"
                readonly
              />
            </div>
          </div>

          <div class="field">
            <label class="label" for="addressInput"></label>
            <div class="control">
              <input
                class="input"
                id="detailAddressInput"
                type="text"
                placeholder="상세주소를 입력해주세요"
                autocomplete="on"
              />
            </div>
            <p class="error" id="detailAddress-error"></p>
          </div>

          <div class="field">
            <label class="label" for="phoneInput">전화번호</label>
            <div class="control">
              <input
                class="input"
                id="phoneInput"
                type="text"
                placeholder="010-0000-0000"
                autocomplete="on"
                oninput="autoHyphen(this)" 
                maxlength="13"
              />
            </div>
            <p class="error" id="phone-error"></p>
          </div>

          <input type="button" class="user-update" id="submitButton" value="수정"/>
          <input type="button" class="user-delete" id="deleteButton" value="회원 탈퇴"/>
        </form>

      </div>
      </div>
    </div>
    <footer></footer>
    <script type="module" src="user-mypage.js"></script>
  </body>
</html>
