@import url('/public/css/main.css');

input[type=password] {
	font-family:"Nanum Gothic", sans-serif !important;
}
input[type=password]::placeholder {
	font-family: "NanumSquare"; 
}

.intro {
  margin: 50px 0 20px 0;
}

.user-greeting {
  font-size: var(--font-large);
  color: var(--color-black);
}

.line {
  background-color: var(--color-dark-gray);
  height: 1px;
  border: none;
}

/* main */
.main-contents {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

/* nav bar */
.mypage__category.nav {
  padding: 6px 15px 6px 6px;
  align-items: center;
}

.mypage__category.nav-item {
  width: 150px;
  margin: 20px 15px 30px 0;
}

.mypage__category__a {
  text-decoration: none;
  color: var(--color-black);
  padding: 10px;
  transition: all 0.2s;
  font-weight: var(--weight-semi-bold);
  font-size: var(--font-medium);
}

.mypage__category__a.clicked {
  color: var(--color-black);
  background-color: var(--color-light-gray);
  border-radius: var(--border-radius-button);
}

.mypage__category__a:hover {
  color: var(--color-black);
  background-color: var(--color-light-gray);
  border-radius: var(--border-radius-button);
}

.content-area {
  display: flex;
  flex-direction: column;
  border-left: 1px solid var(--color-dark-gray);
  padding: 20px 0 90px 20px;
}

.user-form-box {
  width: 800px;
}

.content-title {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin-bottom: 20px;
}

.field {
  margin: 20px 0 20px 0;
  display: flex;
  flex-flow: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.label {
  font-size: var(--font-medium);
  width: 200px;
  margin-left: 40px;
}

.input {
  width: 300px;
  padding: 8px;
  border: 1px solid var(--color-dark-gray);
  border-radius: var(--border-radius-input);
}

.emailText {
  font-weight: var(--weight-semi-bold);
}

.postalCodeInput {
  width: 200px;
}

.searchAddress {
  margin-left: 10px;
  width: 90px;
  padding: 8px;
  border: 1px solid var(--color-point);
  border-radius: var(--border-radius-input);
  cursor: pointer;
  font-weight: var(--weight-regular);
}

.searchAddress:hover {
  background-color: var(--color-light-gray);
}

.addressInput {
  clear: both;
}

.error {
  display: flex;
  display: none;
  color: var(--color-red);
  font-size: var(--font-small);
  margin-left: 5px;
  width: 240px;
}

.user-update {
  font-size: var(--font-medium);
  background-color: var(--color-point);
  margin: 60px 0 0 40px;

  width: 250px;
  height: 50px;
  border: none;
  border-radius: var(--border-radius-button);
  font-weight: var(--weight-semi-bold);
  color: var(--color-white);
  cursor: pointer;
}

.user-update:hover {
  background-color: var(--color-dark-green);
}

.user-delete {
  font-size: var(--font-medium);
  background-color: var(--color-dark-gray);
  margin-top: 60px;

  width: 250px;
  height: 50px;
  border: none;
  border-radius: var(--border-radius-button);
  font-weight: var(--weight-semi-bold);
  color: var(--color-white);
  cursor: pointer;
}

.user-delete:hover {
  background-color: var(--color-light-black);
}