<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회원가입</title>
  </head>
  <body>
    <form method="post" action="/signup">
      <div>
        <label for="name">이름</label>
        <input type="text" name="name" id="name" required />
      </div>
      <div>
        <label for="email">이메일</label>
        <input type="email" name="email" id="email" required />
      </div>
      <div>
        <label for="password">비밀번호</label>
        <input type="password" name="password" id="password" required />
      </div>
      <div>
        <label for="postalCode">우편번호</label>
        <input type="text" name="postalCode" id="postalCode" required />
      </div>
      <div>
        <label for="address">주소</label>
        <input type="text" name="address" id="address" required />
      </div>
      <div>
        <label for="detailAddress">상세주소</label>
        <input type="text" name="detailAddress" id="detailAddress" required />
      </div>
      <div>
        <label for="phone">전화번호</label>
        <input type="tel" name="phone" id="phone" required />
      </div>
      <button type="submit">회원가입</button>
    </form>
  </body>
</html>
