<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>Refresh Books</title>
  <link rel="stylesheet" href="order-detail.css">
</head>
<body>
  <div class="container">
    <!-- Header -->
    <header>
      <!-- 
      <img src="../../../public/images/img_sample_logo.png"></img>
        <nav>
          <ul>
            <li><a href="#">검색</a></li>
            <li><a href="#">로그인</a></li>
            <li><a href="#">회원가입</a></li>
            <li><a href="#">장바구니</a></li>
          </ul>
        </nav>
      -->
    </header>

    <p class="order-detail">주문 상세</p>
    <main>

    </main>

    <footer id="footer">
      <!-- 
      <div class="copyright">
        <p>Copyright © 2023 refresh-store. All rights reserved.</p>
      </div> 
      -->
    </footer>
    
  </div>
  <script src="home.js"></script>
</body>
</html>