input[type=password] {
	font-family:"Nanum Gothic", sans-serif !important;
}
input[type=password]::placeholder {
	font-family: "NanumSquare"; 
}

/* main */
.title {
  font-size: var(--font-large);
  margin-top: 60px;
  text-align: center;
}

.register-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 120px;
}

.register-form-box {
  width: 450px;
  text-align: center;
}

.label {
  font-size: var(--font-medium);
  display: flex;
  justify-content: left;
}

.field {
  margin: 20px 0 20px 0;
}

.control {
  margin-top: 20px;
}

.input {
  clear: both;
  width: 100%;
  padding: 8px;
  border: 1px solid var(--color-dark-gray);
  border-radius: var(--border-radius-input);
}

.error {
  display: flex;
  display: none;
  color: var(--color-red);
  font-size: var(--font-small);
  margin: 5px 0 5px 3px;
}

#postalCodeInput {
  float: left;
  width: 60%;
}

#searchAddress {
  float: right;
  width: 39%;
  padding: 8px;
  border: 1px solid var(--color-point);
  border-radius: var(--border-radius-input);
  cursor: pointer;
  font-weight: var(--weight-regular);
}

#searchAddress:hover {
  background-color: var(--color-light-gray);
}

#addressInput {
  clear: both;
  margin-top: 5px;
}

.register-submit {
  font-size: var(--font-medium);
  background-color: var(--color-point);
  margin-top: 60px;

  width: 100%;
  height: 50px;
  border: none;
  border-radius: var(--border-radius-button);
  font-weight: var(--weight-semi-bold);
  color: var(--color-white);
  cursor: pointer;
}

.register-submit:hover {
  background-color: var(--color-dark-green);
}