<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>Refresh Books</title>
  <!-- 커스텀 css, js -->
  <link rel="stylesheet" href="register.css">
  <script src="/public/js/findAddress.js"></script>
  <script src="/public/js/autoHyphen.js"></script>
  <!-- 다음 지도 API -->
  <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <link rel="icon" href="/public/images/favicon.png"/>
  <link rel="apple-touch-icon" href="/public/images/favicon.png"/>
</head>
<body>

  <header></header>

  <div class="container">

    <!-- register form -->
    <main>
      <h2 class="title">회원가입</h2>
      <div class="register-form-container">
        <form class="register-form-box" method="post">

          <div class="field">
            <label class="label" for="nameInput">이름</label>
            <div class="control">
              <input
                class="input"
                id="nameInput"
                type="text"
                placeholder="이름을 입력해주세요"
                autocomplete="on"
              />
            </div>
            <p class="error" id="name-error"></p>
          </div>

          <div class="field">
            <label class="label" for="emailInput">이메일</label>
            <div class="control">
              <input
                class="input"
                id="emailInput"
                type="email"
                placeholder="이메일을 입력해주세요"
                autocomplete="on"
              />
            </div>
            <p class="error" id="email-error"></p>
          </div>

          <div class="field">
            <label class="label" for="passwordInput">비밀번호</label>
            <div class="control">
              <input
                class="input"
                id="passwordInput"
                type="password"
                placeholder="비밀번호를 입력해주세요 (8 ~ 15자, 특수문자, 문자, 숫자 포함)"
              />
            </div>
            <p class="error" id="password-error"></p>
          </div>

          <div class="field">
            <label class="label" for="passwordCheckInput">비밀번호 확인</label>
            <div class="control">
              <input
                class="input"
                id="passwordCheckInput"
                type="password"
                placeholder="비밀번호를 다시 입력해주세요"
              />
            </div>
            <p class="error" id="passwordCheck-error"></p>
          </div>

          <div class="field">
            <label class="label" for="addressInput">주소</label>
            <div class="control">
              <input
                class="input postal-code-input"
                id="postalCodeInput"
                type="text"
                placeholder="우편주소"
                readonly
              />
            </div>

            <div class="control">
              <input
                class="button search-address"
                id="searchAddress"
                type="button"
                value="주소 검색" 
                onclick="findAddress()"
              />
            </div>

            <div class="control">
              <input
                class="input address-input"
                id="addressInput"
                type="text"
                placeholder="주소를 검색해주세요"
                readonly
              />
            </div>

            <div class="control">
              <input
                class="input"
                id="detailAddressInput"
                type="text"
                placeholder="상세주소를 입력해주세요"
              />
            </div>
            <p class="error" id="address-error"></p>
          </div>

          <div class="field">
            <label class="label" for="phoneInput">전화번호</label>
            <div class="control">
              <input
                class="input"
                id="phoneInput"
                type="text"
                placeholder="전화번호를 입력해주세요"
                autocomplete="on"
                oninput="autoHyphen(this)"
                maxlength="13"
              />
            </div>
            <p class="error" id="phone-error"></p>
          </div>

          <input type="submit" class="register-submit" id="submitButton" value="회원가입"/>
        </form>
    </main>

  </div>
  <footer></footer>
  <!-- 커스텀 js -->
  <script type="module" src="register.js"></script>
</body>
</html>
