<!DOCTYPE html>
<html>
  <head>
    <title>Error</title>
    <script src="findAddress.js"></script>
    <!-- 추가된 부분 -->
  </head>
  <body>
    <% if (errors && errors.length > 0) { %>
    <ul>
      <% for (let i = 0; i < errors.length; i++) { %>
      <li><%= errors[i].msg %></li>
      <% } %>
    </ul>
    <% } %>
    <form method="post" action="/register">
      <label for="name">이름</label>
      <input type="text" name="name" id="name" required /><br />
      <label for="password">비밀번호</label>
      <input type="password" name="password" id="password" required /><br />
      <label for="address">주소</label>
      <input type="text" name="address" id="address" required /><br />
      <button type="button" onclick="openDaumPostcode()">우편번호 찾기</button>
      <!-- 추가된 부분 -->
      <label for="phone">전화번호</label>
      <input
        type="tel"
        name="phone"
        id="phone"
        pattern="[0-9]{3}-[0-9]{3,4}-[0-9]{4}"
        required
      /><br />
      <label for="email">이메일</label>
      <input type="email" name="email" id="email" required /><br />
      <label for="postalCode">우편번호</label>
      <input
        type="text"
        name="postalCode"
        id="postalCode"
        pattern="[0-9]{5}"
        required
      /><br />
      <label for="detailAddress">상세주소</label>
      <input
        type="text"
        name="detailAddress"
        id="detailAddress"
        required
      /><br />
      <button type="submit">회원가입</button>
    </form>
  </body>
</html>
