<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="user-admin.css">
</head>
<body>
  <header></header>
  <div class="container">
    <div class="upper-area">
      <span> <p>관리자 페이지</p> </span>
    </div>
    <div class="middle-area">
      <div class="navigate-area">
        <ul>
          <li id="list-books">도서 관리</li>
          <li id="list-users">회원 관리</li>
          <li id="list-orders">주문 관리</li>
          <li id="list-categories">카테고리 관리</li>
        </ul>
      </div>
      <div class="content-area">
        <p class="title"></p>
        <div class = "content" id="admin-books"> 
          <div class="admin-items">
            <input type="checkbox">
            <div class="item-info">
              <p class="item-added-date"> 2022-05-14</p>
              <div class="item-more-info">
                <p class="item-name"> 혼자 공부하는 얄팍한 코딩지식</p>
                <p class="item-detail"> 한빛 출판사 | 고현민 | 2022</p>
              </div>
              <p class="item-cost"> 15,800원</p>
              <span class="admin-buttons">
                <img class="button" src="../public/images/icon_edit.svg">
                <img class="button red" src="../public/images/icon_delete.svg">
              </span> 
            </div>
          </div>
        </div>
        <div class = "content" id="admin-users"> 
          <div class="admin-items">
            <input type="checkbox">
            <div class="item-info">
              <p class="item-added-date"> 2022-05-14</p>
              <div class="item-more-info">
                <p class="item-name"> 김토끼</p>
                <p class="item-detail"> elice@rabbit.com </p>
              </div>
              <span class="user-buttons">
                <img class="button set-user-admin" title="관리자 등록" src="../public/images/icon_user_admin.svg">
                <img class="button edit-user" title="회원 정보 수정" src="../public/images/icon_user_edit.svg">
                <img class="button remove-user" title="회원 탈퇴" src="../public/images/icon_user_remove.svg">
              </span>
            </div>
          </div>
        </div>
        <div class = "content" id="admin-orders">
          <div class="admin-items ordered-list">
            <div class="order-upper">
                <input type="checkbox">
                <p class="item-name order"> 230421001 </p>
                <p class="order-status"> 배송중</p>
            </div>
            <div class="order-lower">
              <div class="item-info order">
                <div class="item-more-info order a">
                  <p class="item-detail order"> 김토끼</p>
                  <p class="item-detail order"> 010-2323-2323</p>
                  <p class="item-detail order"> 서울시 양천구 오목로359 사무실</p>
                </div>
                <div class="item-more-info order b">
                  <p class="item-detail order"> 혼자 공부하는 얄팍한 코딩 지식 (3)</p>
                  <p class="item-detail order"> 코딩 관련 책 이름 하나</p>
                  <p class="item-detail order"> 이것도 코딩에 관련된 책</p>
                  <p class="item-detail order"> 책 이름은 모르지만 코딩임(2)</p>
                </div>
                <p class="item-cost"> 23,400원</p>
                <span class="admin-buttons">
                  <img class="button" title="수정" src="../public/images/icon_edit.svg">
                  <img class="button red" title="삭제" src="../public/images/icon_delete.svg">
                </span>
              </div>
            </div>
            
          </div>
        </div>
        <div class = "content" id="admin-categories">
          <div class="category-box">
            <p class="category-name">프론트엔드</p>
            <img class="button red" title="삭제" src="../public/images/icon_delete.svg">
          </div>
        </div>
      </div>
    </div>

    <div class="lower-area"></div>

  </div>
  <footer></footer>
  <script type="module" src="user-admin.js"></script>
</body>
</html>