@import url("/public/css/main.css");

/*-------------상단영역--------------*/
.upper-area {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  width: 100%;
  height: 50px;
  padding: 10px 20px;

  border-bottom: var(--color-dark-gray) solid 0.5px;
}

.upper-area p {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
}

/*-------------하단영역--------------*/
.middle-area {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;

  padding: 10px 20px;
  border-bottom: var(--color-dark-gray) solid 0.5px;
}

/*-------목록영역--------*/
.navigate-area {
  display: flex;
  width: 20%;
  height: 250px;
  margin: 20px;
  padding: 20px 10px;

  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;

  border: var(--color-light-gray) 0.3px solid;
}

.navigate-area li {
  text-align: center;
  font-size: var(--font-medium);
  padding: 15px;
  cursor: pointer;
}

.navigate-area li:hover {
  font-weight: var(--weight-bold);
  color: var(--color-point);
}

/*-------본문영역--------*/
.content-area {
  width: 70%;
  margin: 10px;
  padding: 10px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: space-between;
}

.content-area .content-upper-area {
  width: 100%;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

/*-----컨텐츠 추가------*/
.content-area .add-button {
  width: 40px;
  height: 40px;
  margin: 5px;
  opacity: 0.7;

  cursor: pointer;
}

.content-area .add-button:hover {
  opacity: 1;
}

.content-area .add-button.deactive {
  opacity: 0.3;
}

.content-area .add-page {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: auto;
  height: 30px;
  padding: 20px;
  color: var(--color-white);
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  margin: 5px;

  background-color: var(--color-point);
  border-radius: var(--border-radius-button);
  border: 0.3px var(--color-light-gray) solid;
  box-shadow: 3px 3px 3px var(--color-light-gray);
}

.add-page .add-page-input {
  color: var(--color-point);
  font-size: var(--font-medium);
  font-weight: var(--weight-regular);
  width: auto;
  height: 30px;

  border-radius: var(--border-radius-input);
  border: none;
}

.content-area .add-page.hidden {
  display: none;
}

.content-area .add-page .admin-button {
  margin: 10px;
  width: 20px;
  height: 20px;
}

.content {
  display: none;
  width: 100%;
  padding: 10px;

  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.active {
  display: flex;
}

/*-----공통 사용 요소------*/
.content .admin-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  height: 50px;
  width: 80px;
}

.admin-button {
  display: flex;
  width: 15px;
  height: 30px;
  padding: 2px;
  opacity: 0.3;

  cursor: pointer;
}

.admin-button.hidden {
  display: none;
}

.admin-button:hover {
  opacity: 1;
}

.content .admin-items {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  height: 60px;
  margin: 5px;
  padding-top: 5px;

  background-color: var(--color-white);
  border-radius: var(--border-radius-button);
  border: 0.3px var(--color-light-gray) solid;
  box-shadow: 2px 2px 2px var(--color-light-gray);
  transition: all 0.4s ease;
}

/*-----회원관리------*/
.content#admin-users .admin-items {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  height: 40px;
  margin: 5px 0;
  padding-top: 12px;

  background-color: var(--color-white);
  border-radius: var(--border-radius-button);
  border: 0.3px var(--color-light-gray) solid;
  box-shadow: 2px 2px 3px var(--color-light-gray);

  transition: all 0.3s ease;
}

.content#admin-users .admin-items:hover {
  background-color: var(--color-light-green);
  cursor: pointer;
}

.content .admin-items .admin-user-info {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.content .admin-items .admin-user-info .admin-info-block {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: auto, 20px;
}

.content .admin-items .admin-user-info .admin-user-added-date {
  width: 130px;
  font-size: var(--font-micro);
  font-weight: var(--weight-medium);
  color: var(--color-light-black);
  text-align: left;
  margin: auto, 20px;
  padding-left: 20px;
}

.content .admin-items .admin-user-info .admin-user-name {
  width: 180px;
  font-size: var(--font-small);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  text-align: center;
  margin: auto, 20px;
  padding-right: 20px;
}

.content .admin-items .admin-user-info .admin-user-name.admin {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 180px;
  font-size: var(--font-small);
  font-weight: var(--weight-bold);
  color: var(--color-point);
  text-align: center;
  margin: auto, 20px;
  padding-right: 20px;
}

.admin-mark {
  color: var(--color-white);
  width: 20px;
  height: 13px;

  font-size: var(--font-micro);
  margin-bottom: 4px;
}

.content .admin-items .admin-user-info .admin-user-email {
  width: 230px;

  font-size: var(--font-small);
  font-weight: var(--weight-medium);
  color: var(--color-light-black);
  text-align: right;
}

.content .admin-items .user-more-infos {
  width: 100%;
  margin: 10px;
  padding: 10px 30px;
  border-top: 0.3px var(--color-light-gray) solid;

  font-size: var(--font-small);
  font-weight: var(--weight-regular);
  line-height: 23px;
}

/*-----주문관리------*/
.content .admin-items.ordered-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: space-around;
  width: 90%;
  height: auto;

  margin: 8px;
  padding: 0;
  transition: all 0.3s ease;
  cursor: pointer;
}

.content .admin-items.ordered-list .order-upper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: auto;
  width: 100%;
  height: 40px;
  padding: 10px;
}

.content .admin-items.ordered-list .order-upper p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
}

.content .admin-items.ordered-list .order-upper p.order-date {
  width: 30%;
  font-size: var(--font-small);
  font-weight: var(--weight-medium);
  color: var(--color-light-black);
}

.content .admin-items.ordered-list .order-upper p.order-id {
  width: 40%;
  font-weight: var(--weight-bold);
  color: var(--color-black);
}

.content .admin-items.ordered-list .order-upper p.order-status {
  width: 100px;
  font-weight: var(--weight-bold);
  color: var(--color-point);
}

.content .admin-items.ordered-list .order-upper select {
  width: 100px;
  height: 30px;
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  color: var(--color-point);
  border: 0.5px var(--color-point) solid;
}

.content .admin-items .order-more-infos {
  width: 100%;
  height: auto;
  border-top: 0.3px var(--color-light-gray) solid;

  margin: 10px;
  padding: 10px 30px;

  font-size: var(--font-small);
  font-weight: var(--weight-regular);
  line-height: 23px;
}

.content .admin-items.ordered-list .order-lower {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
  margin: 5px;
}

.content .admin-items .item-info.order {
  width: 500px;
  justify-content: space-between;
  align-items: center;
}

.content .admin-items .order-status {
  font-size: var(--font-small);
  font-weight: var(--weight-bold);
  color: var(--color-white);
  text-align: right;
  padding: 0 10px;
}

.content .admin-items .item-info .item-more-info.order {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.content .admin-items .item-info .item-name.order {
  font-size: var(--font-small);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  text-align: right;

  margin-bottom: 10px;
}

.content .admin-items .item-info .item-more-info.a .item-detail.order {
  font-size: var(--font-micro);
  font-weight: var(--weight-medium);
  color: var(--color-black);
  text-align: right;
}

.content .admin-items .item-info .item-more-info.b .item-detail.order {
  font-size: var(--font-micro);
  font-weight: var(--weight-regular);
  color: var(--color-light-black);
  text-align: right;
}

/*-----카테고리 관리------*/
.content#admin-categories {
  width: 100%;
  margin: 10px;
  padding: 10px;

  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.content .category-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: auto;
  height: 30px;
  padding: 20px;
  color: var(--color-white);
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  margin: 5px;

  background-color: var(--color-point);
  border-radius: var(--border-radius-button);
  border: 0.3px var(--color-light-gray) solid;
  box-shadow: 3px 3px 3px var(--color-light-gray);
}

.content .category-box .category-edit-input {
  color: var(--color-point);
  font-size: var(--font-medium);
  font-weight: var(--weight-regular);
  width: 150px;
  height: 30px;

  border-radius: var(--border-radius-input);
  border: none;
}

.content .category-box .admin-button {
  width: 20px;
  height: 20px;
  margin-left: 8px;
  opacity: 0.3;
}

.content .category-box .admin-button:hover {
  opacity: 1;
}

.hidden {
  display: none;
}

/*----- 기본 스타일 설정 -----*/
.book-input {
  width: calc(100% - 135px);
  padding: 12px;
  border: 1px solid var(--color-dark-gray);
  border-radius: var(--border-radius-input);
}

/*----- 책 정보 입력 폼 스타일 -----*/
.book-more-infos {
  margin: 10px 0;
  padding: 20px;
  background-color: var(--color-point);
  border-radius: var(--border-radius-button);
  box-shadow: 3px 3px 3px var(--color-light-gray);
  font-size: var(--font-medium);
  font-weight: var(--weight-regular);
  width: calc(100% - 40px);
  color: var(--color-white);
}

.book-more-infos span {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.book-more-infos p {
  font-size: var(--font-regular);
  margin-right: 15px;
  min-width: 120px;
}

/*----- 책 목록 스타일 -----*/
.book-list {
  margin: 15px 0;
  padding: 0;
  width: 100%;
}

.book-item {
  margin-bottom: 10px;
  padding: 12px;
  border: 1px solid var(--color-light-gray);
  border-radius: var(--border-radius-button);
  box-shadow: 2px 2px 2px var(--color-light-gray);
  width: 100%;
}

.book-item-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-white);
  gap: 20px;
  flex: 0.8;
}

.book-name,
.book-detail {
  color: var(--color-white);
  font-size: var(--font-medium);
  font-weight: var(--weight-regular);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.book-cost {
  color: black;
  margin-right: 10px;
  white-space: nowrap;
  padding-left: 10px;
}

/*----- 버튼 스타일 -----*/
.book-buttons {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-left: auto;
}

.book-button {
  width: 20px;
  height: 20px;
  cursor: pointer;
  filter: grayscale(100%);
}

.book-button:hover {
  filter: none;
}

/*----- 추가 버튼 및 폼 버튼 스타일 -----*/
.add-books-block,
.form-close-button,
.form-submit-button {
  display: flex;
  border-radius: var(--border-radius-button);
  justify-content: center;
  align-items: center;
  margin: 15px 0;
  padding: 15px;
  background-color: var(--color-point);
  font-size: var(--font-regular);
  cursor: pointer;
  color: var(--color-white);
}

.add-books-block-child {
  color: var(--color-white); /* 수정: 글씨 색상을 하얀색으로 변경 */
}

.add-books-block-child:hover,
.form-close-button:hover,
.form-submit-button:hover {
  text-decoration: underline;
  opacity: 0.8;
}

.form-close-button {
  border: none;
  outline: none;
  background-color: var(--color-dark-gray);
  color: var(--color-white);
}

.form-submit-button {
  border: none;
  outline: none;
  background-color: var(--color-white);
  color: var(--color-point);
}

.form-close-button:focus,
.form-submit-button:focus {
  border: none;
  outline: none;
}

#customCategoryInput {
  width: calc(100% - 135px); /* 너비 설정 */
  padding: 12px; /* 패딩 설정 */
  border: 1px solid var(--color-dark-gray); /* 테두리 설정 */
  border-radius: var(--border-radius-input); /* 테두리 둥글기 설정 */
  margin-top: 10px; /* 상단 여백 설정 */
  display: none; /* 기본적으로 숨김 */
}
