<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Refresh Books</title>
  <link rel="stylesheet" href="user-admin.css"/>
  <link rel="icon" href="../public/images/favicon.png"/>
  <link rel="apple-touch-icon" href="../public/images/favicon.png"/>

</head>
<body>
  <header></header>
  <div class="container">
    <div class="upper-area">
      <span> <p>관리자 페이지</p> </span>
    </div>
    <div class="middle-area">
      <div class="navigate-area">
        <ul>
          <li id="list-books">도서 관리</li>
          <li id="list-users">회원 관리</li>
          <li id="list-orders">주문 관리</li>
          <li id="list-categories">카테고리 관리</li>
        </ul>
      </div>
      <div class="content-area">
        <div class="content-upper-area">
          <div class="upper-upper-area">
            <img id="add-button" src="../public/images/icon_add.svg">
            <p class="title"></p>
          </div>
          <div class = "add-page hidden" id="admin-add-books"> </div>
          <div class = "add-page hidden" id="admin-add-categories">
          </div>
        </div>
        <div class = "content" id="admin-books"> </div>
        <div class = "content" id="admin-users"> </div>
        <div class = "content" id="admin-orders"></div>
        <div class = "content" id="admin-categories"></div>
      </div>
    </div>

    <div class="lower-area"></div>

  </div>
  <footer></footer>
  <script type="module" src="user-admin.js"></script>
</body>
</html>