@import url("../public/css/main.css");

.container {
  min-height: 80vh;
}

.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-img {
  margin-top: 50px;
  width:280px;
}

#error-message {
  margin-top: 60px;
  font-size: var(--font-medium);
  color: var(--color-point);
  font-weight: var(--weight-bold);
}

#button {
  font-size: var(--font-regular);
  color: var(--color-point);
  margin-top: 30px;
  margin-bottom: 60px;

  width: 250px;
  height: 40px;
  border: 1px solid var(--color-point);
  border-radius: var(--border-radius-button);
  font-weight: var(--weight-semi-bold);
  background-color: var(--color-white);
  cursor: pointer;
}

#button:hover {
  color: var(--color-white);
  background-color: var(--color-point);
}