<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>Refresh Books</title>
  <link rel="stylesheet" href="error-page.css">
  <link rel="icon" href="/public/images/favicon.png"/>
  <link rel="apple-touch-icon" href="/public/images/favicon.png"/>
</head>
<body>

  <header></header>

  <div class="container">
    <div class="error-container">
      <img class="error-img" src="/public/images/ERROR.svg">
      <p class="error-message">접근 권한이 없습니다.</p>
    </div>
    <div class="error-container">
      <button class="return-home-button" id="return-home-button">홈으로 돌아가기</button>
    </div>
  </div>

  <footer></footer>

  <script type="module" src="error-page.js"></script>
</body>
</html>