<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>Refresh Books</title>
  <link rel="stylesheet" href="home.css">
</head>
<body>

  <header></header>

  <div class="container">

    <!-- 이미지 슬라이드 -->
    <div id="slider">
      <ul class="slides">
        <li class="slide"><img src="../../../public/images/img_sample_banner_1.png" alt="img1"></li>
        <li class="slide"><img src="../../../public/images/img_sample_banner_2.png" alt="img2"></li>
        <li class="slide"><img src="../../../public/images/img_sample_banner_3.png" alt="img3"></li>
      </ul>
    </div>

      <!-- 책 카테고리 -->
      <main>
        <nav id="category">
          <li class="nav-item category">
            <a class="nav-link clicked" href="#">전체</a>
          </li>
          <!-- <li class="nav-item category">
            <a class="nav-link clicked" href="#">베스트셀러</a>
          </li> -->
        </nav>

        <!-- 구분선 -->
        <hr class="line"/>

        <div id="product-counter"></div>

        <!-- 책 상품들 -->
        <div class="books"></div>
      </main>
  </div>

  <footer></footer>

  <script type="module" src="home.js"></script>
</body>
</html>