@import url('../../../public/css/main.css');

/* Auto Image Slider */

#slider {
  width: 1024px;
  height: 300px;
  overflow: hidden;
}

#slider .slides {
  display: block;
  width: 8000px;
  height: 100%;
}

#slider .slide {
  width: 1024px;
  height: 300px;
}

/* main */
#category {
  margin: 20px 0px;
}

.nav-item.category {
  display:inline-block;
  margin: 10px;
}

.nav-item.category .nav-link {
  cursor: pointer;
  color: var(--color-black);
  border: 1px solid var(--color-black);
  border-radius: 20px;
  font-size: var(--font-regular);
  padding: 5px;
}

.nav-item.category .nav-link:hover {
  color: var(--color-point);
  border-color: var(--color-point);
}

.nav-item.category .nav-link.clicked {
  color: var(--color-white);
  background-color: var(--color-point);
  font-weight: var(--weight-regular);
  border-color: var(--color-point);
}

.line {
  background-color: var(--color-dark-gray);
  height: 1px;
  border: none;
}

#product-counter {
  margin: 20px;
  color: var(--color-black);
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
}

/* book list */
.books {
  margin: 10px 10px 0 0;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.book {
  display: inline-block;
  margin: 5px;
  margin-bottom: 20px;
  cursor: pointer;
}

.book-body {
  margin: 10px;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
}

.book-link {
  color: var(--color-black);
  text-decoration: none;
}

.book-link:hover {
  color: var(--color-dark-gray);
}

.book-text.title {
  font-size: var(--font-medium);
  font-weight: var(--weight-regular);
}

.book-text.category {
  font-size: var(--font-small);
}

.book-text.price {
  font-size: var(--font-small);
}
