<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>새로고침</title>
  <link rel="stylesheet" href="login.css">
</head>
<body>
  <div class="container">
    <!-- login form -->
    <main>
      <h2 class="title">로그인</h2>
      <div class="login-form-container">
        <form class="login-form-box" method="post">

          <div class="field">
            <label class="label" for="emailInput">이메일</label>
            <div class="control">
              <input
                class="input"
                id="emailInput"
                type="email"
                placeholder="elice@love.com"
                autocomplete="on"
              />
            </div>
          </div>

          <div class="field">
            <label class="label" for="passwordInput">비밀번호</label>
            <div class="control">
              <input
                class="input"
                id="passwordInput"
                type="password"
                placeholder="********"
                autocomplete="on"
              />
            </div>
          </div>

          <button class="login-submit" id="submitButton">로그인</button>
        </form>
    </main>
  </div>
</body>
</html>