<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>Refresh Books</title>
  <link rel="stylesheet" href="login.css">
</head>
<body>
  <div class="container">
    <!-- Header -->
    <header>
      <img src="../../../public/images/img_sample_logo.png"></img>
        <nav>
          <ul>
            <li><a href="#">검색</a></li>
            <li><a href="../login/login.html">로그인</a></li>
            <li><a href="../register/register.html">회원가입</a></li>
            <li><a href="#">장바구니</a></li>
        </nav>
    </header>

    <!-- login form -->
    <main>
      <h2 class="title">로그인</h2>
      <div class="login-form-container">
        <form class="login-form-box" method="post">
          <div class="field">
            <label class="label" for="emailInput">이메일</label>
            <div class="control">
              <input
                class="input"
                id="emailInput"
                type="email"
                placeholder="elice@love.com"
                autocomplete="on"
              />
            </div>
          </div>

          <div class="field">
            <label class="label" for="passwordInput">비밀번호</label>
            <div class="control">
              <input
                class="input"
                id="passwordInput"
                type="password"
                placeholder="********"
                autocomplete="on"
              />
            </div>
            <p class="error" id="join-error">에러메세지</p>
          </div>

          <button class="login-submit" id="submitButton">로그인</button>
          <button class="btn-register" id="registerButton">회원가입</button>
        </form>
    </main>

    <footer id="footer">
      <div class="copyright">
        <p>Copyright © 2023 refresh-store. All rights reserved.</p>
      </div>
    </footer>
  </div>
  <script src="login.js"></script>
</body>
</html>