<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>Refresh Books</title>
  <!-- 커스텀 css -->
  <link rel="stylesheet" href="login.css">
  <link rel="icon" href="/public/images/favicon.png"/>
  <link rel="apple-touch-icon" href="/public/images/favicon.png"/>
</head>
<body>

  <header></header>

  <div class="container">
    <!-- login form -->
    <main>
      <h2 class="title">로그인</h2>
      <div class="login-form-container">
        <form class="login-form-box" method="post">
          <div class="field">
            <label class="label" for="emailInput">이메일</label>
            <div class="control">
              <input
                class="input"
                id="emailInput"
                type="email"
                placeholder="elice@love.com"
                autocomplete="on"
              />
            </div>
          </div>

          <div class="field">
            <label class="label" for="passwordInput">비밀번호</label>
            <div class="control">
              <input
                class="input"
                id="passwordInput"
                type="password"
                placeholder="********"
                autocomplete="on"
              />
            </div>
            <p class="error" id="join-error">에러메세지</p>
          </div>

          <button class="login-submit" id="submitButton">로그인</button>
          <button class="btn-register" id="registerButton">회원가입</button>
        </form>
    </main>

  </div>

  <footer></footer>
  <!-- 커스텀 js -->
  <script type="module" src="login.js"></script>
</body>
</html>