@import url('../public/css/main.css');

/* main */
main {
  padding: 20px 0px;
}

input[type="checkbox"] {
  width: 16px;
}
/* cartMenu */
.cartMenu {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  /* padding: 0 20px; */
}
.cartMenu .cartTitle {
  text-align: left;
  font-size: 30px;
  margin: 20px 0;
  padding: 20px 0;
  border-bottom: 1px solid var(--color-dark-gray);
}

.cartMenu .selectMenu {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid var(--color-dark-gray);
}

.cartMenu .selectMenu .deleteSelected {
  border: 1px solid var(--color-dark-gray);
  border-radius: var(--border-radius-button);
  padding: 4px;
}

.selectAll {
  display: flex;
}

.selectAll p {
  padding-left: 8px;
  display: flex;
  align-items: center;
}
/* cart container */
.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-dark-gray);
  padding: 20px;
}

.empty-cart {
  text-align: center;
  padding: 100px;
  font-size: var(--font-medium);
  color: var(--color-light-black);
}

.cart div.book-img {
  position: relative;
  right: 10px;
}

img.book-img {
  width: 100px;
  border: 0.5px solid var(--color-dark-gray);
}

.book-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  right: 30px;
  width: 400px;
  font-size: var(--font-medium);
  color: var(--color-black);
}

.book-title {
  text-decoration: none;
  color: var(--color-black);
}

.author {
  font-size: var(--font-regular);
  padding: 8px 0;
  color: var(--color-light-black);
}

.price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100px;
}

.price p {
  font-size: var(--font-small);
  text-align: center;
}

.price div {
  padding: 8px 0;
  font-size: var(--font-medium);
}

.amountArea {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.amountArea button{
  width: 35px;
  height: 35px;
  color: var(--color-point);
  font-size: var(--font-large);
  font-weight: var(--weight-light);
  border: var(--color-point) 0.5px solid;
  background-color: var(--color-light-green);
}

.amountArea input{
  width: 35px;
  height: 35px;
  color: var(--color-black);
  font-size: var(--font-regular);
  font-weight: var(--weight-medium);
  text-align: center;
  border-top: var(--color-point) 0.5px solid;
  border-bottom: var(--color-point) 0.5px solid;
  border-left: 0;
  border-right: 0;
}

.delete {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.deleteBtn {
  border: 1px solid var(--color-dark-gray);
  border-radius: var(--border-radius-button);
  padding: 4px;
}
/* pay list */
.pay__list {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  border-top: 1px solid var(--color-dark-gray);
}

.pay__list p {
  color: var(--color-light-black);
}

.pay__detail__container {
  display: flex;
  flex-direction: column;
  width: 270px;
}

.pay__detail {
  display: flex;
  justify-content: space-between;
  font-size: var(--font-medium);
}

.pay__detail div {
  padding: 8px;
}

div.order__button {
  padding-top: 10px;
}

button.order__button {
  width: 100%;
  height: 50px;
  background-color: var(--color-point);
  color: var(--color-white);
  font-size: var(--font-medium);
  font-weight: 700;
  text-align: center;
  border: none;
  border-radius: var(--border-radius-button);
}
button.order__button:hover {
  background-color: var(--color-dark-green);
}
button.order__button:active {
  background-color: #238d5d;
}