<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>Refresh Bookstore</title>
  <link rel="stylesheet" href="cart.css">
</head>
<body>
  <header></header>
  <div class="container">

    <main>
      <div class="cartMenu">
        <!-- 장바구니 타이틀 -->
        <p class="cartTitle">장바구니</p>
        <div class="selectMenu">
          <div class="selectAll">
            <input type="checkbox" name="checkAll" checked="">
            <p>전체선택</p>
          </div>
          <button class="deleteSelected">선택 삭제</button>
        </div>
      </div>
      <!-- 책 장바구니 -->
      <div class="cart">
      </div>

      <!-- <hr/> -->
      <!-- 금액 안내  -->
      <div class="pay__list">
        <p>* 기본배송비 3,000원 | 50,000원 이상 구매시 무료 배송</p>
        <div class="pay__detail__container">
          <div class="pay__detail">
            <div>선택 상품 금액</div>
            <div class="selectedPrice"></div>
          </div>

          <div class="pay__detail">
            <div>배송비</div>
            <div class="deliveryFee"></div>
          </div>

          <div class="pay__detail">
            <div>총 결제 금액</div>
            <div class="totalCost"></div>
          </div>
          <div class="order__button">
            <button class="order__button">구매하기</button>
          </div>
        </div>
      </div>
    </main>

  </div>
  <footer></footer>
  <script type="module" src="cart.js"></script>
</body>
</html>
