<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>Refresh Books</title>
  <link rel="stylesheet" href="book-search.css">
</head>
<body>
  <header></header>

  <div class="container">
    <div class="main-contents">

      <!-- 콘텐츠 영역 -->
      <div class="content-area empty">
        <p class="result-title">검색 결과</p>
        <div class="content"> 
          <div class="results"></div>
        </div>
      </div>

    </div>
  </div>
  <footer></footer>
  <script type="module" src="book-search.js"></script>
</body>
</html>