<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>Refresh Books</title>
  <link rel="stylesheet" href="book-search.css">
  <script type="module" src="book-search.js"></script>
</head>
<body>
  <header></header>

  <div class="container">
    <div class="main-contents">

      <!-- 콘텐츠 영역 -->
      <div class="content-area empty">
        <p class="result-title">검색 결과</p>
        <div class="content"> 
          <div class="order">
            <div class="order-view">
              <div class="order-items-area">
                <div class="order-item">
                  <div class="item-img">
                    <img src="/public/images/sample_image.jpg">
                  </div>
                  <div class="item-info">
                    <p class="item-title">혼자 공부하는 얄팍한 코딩지식</p>
                    <p class="item-author">작가</p>
                    <p class="item-cost">가격</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
  <footer></footer>
</body>
</html>